APP_HOST=0.0.0.0
APP_PORT=8000
POSTGRES_DSN=postgresql+psycopg2://postgres:postgres@localhost:5432/postgres

AMO_DOMAIN=alkuat
AMO_TOKEN=
CUSTOM_FIELD_ID=886012

STAGE_2_4_ID=73295822
STAGE_6_9_ID=73295826
STAGE_12_PLUS_ID=73295954

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
